@charset "utf-8";


@media screen and (min-width: 768px) and (max-width: 992px) {

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);

    }
    section#login{
        width: 90vw;
        height: 320px;
    }
    
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 70%;
    }

    section#login h1{
        text-align: center;
        padding: 10px;
        font-size: 1.6em;

    }

    section#login p{
        font-size: 0.8em;
    }


}


@media screen and (min-width:992px) {

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);

    }
    section#login{
        width: 950px;
        height: 360px;
    }
    
    section#login > div#imagem{
        float: right;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 55%;
    }

    section#login h1{
        text-align: center;
        padding: 10px;
        font-size: 2em;

    }

    section#login p{
        font-size: 1em;
        margin: 20PX 0PX;
    }


}